<% provide(:title, "Logowanie") %>
<div class="login-container">
  <h1>Logowanie</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :password, 'Hasło:' %>
        <%= link_to "(nie pamiętam hasła)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :remember_me, 'Zapamiętaj mnie:', class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Zapamiętaj mnie na tym komputerze</span>
        <% end %>
        <%= f.submit "Zaloguj", class: "btn btn-primary" %>
        <%= link_to "Zaloguj się przez Facebooka", "/auth/facebook", id: "sign_in", class: "fb-login btn btn-primary" %>
      <% end %>
      <p>Nowy użytkownik? <%= link_to "Zarejestruj się!", signup_path %></p>
    </div>
  </div>
</div>
