<li class="comment" id="comment<%=comment.id%>">
  <div class="row">
    <div class="col-md-6">
      <div class="comment-container">
        <% @user = User.find(comment.user_id) %>
        <img class="user_avatar-comment"><%= avatar_for @user %></img>
        <h4 class="user"><%= @user.name%> </h4>
        
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span class="content"><%= comment.content %> </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <span class="timestamp">
            Dodany <%= time_ago_in_words(comment.created_at) %> temu.
            <% if (current_user && (current_user.id == comment.user_id)) %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Edytuj", edit_comment_path(comment.id), remote: true %></li>
                <li><%= link_to "Usuń", comment, method: :delete,
                                    data: { confirm: "Na pewno usunąć ten komentarz?" }, remote: true %></li>
              </ul>
            <% end %>
      </span>
    </div>
  </div>
    
</li>
  