<%= form_for(@post) do |f| %>
  <%= render 'shared/post_error_messages' %>
  <%= f.label :title, 'Tytuł:' %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :content, 'Treść posta:' %>
  <%= f.text_field :content, class: 'form-control' %>
  
  <h3>Możesz dodać obrazek lub link do filmu na youtube.</h3>
  
  <%= f.label :attachment, 'Obrazek:' %>
  <%= f.file_field :attachment %>
  
  <div class="checkbox-container">
    Tekst na obrazku&#63<%= f.check_box :text_bool, class: 'text-checkbox' %>
    <div id="image-text-field" style="display:none;">
      <%= f.label :image_text, 'Tekst na obrazek:' %>
      <%= f.text_field :image_text %>
    </div>
  </div>
  <br>
  
  <%= f.label :video_link, 'Link do filmu:' %>
  <%= f.text_field :video_link %>

  <%= f.submit "Dodaj post", class: "btn btn-primary" %>
<% end %>